@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #0a092d;
    --bg-light: #111038;
    --bg-dark: #080722;
    --lightpink: #f3bbd4;
    --white-10: #ffffff1a;
}

html {
    background-color: var(--bg);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    color: white;
}

#app {
    display: flex;
    flex-direction: column;
}